html,body{
	font-family: 'Montserrat', sans-serif;
	background:#f8f9fa;
}
	
a{
	transition: color 450ms ease;
	transition: background-color 450ms ease;
}

a:hover,
a:focus{
	background-color:#b98000!important;
	color: #b98000!important;
}

.navbar-brand, .navbar-nav > li > a{
	text-shadow: none!important;
}

.navbar-brand{
	padding: 6px 6px 6px 15px!important;
}

.navbar{
	margin-bottom: 0px!important;
}
#header{
	background: linear-gradient( rgba(0, 0, 0, 0.68) 100%, rgba(0, 0, 0, 0.5)100%),url(../img/wild.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:top;
	height:126vh;
}

#header .hero-menu{
	position:fixed;
	min-width:100%;
	z-index:1000;
	transition: background-color 250ms ease;
}

#header .hero-text .navbar{
	background:none;
	border:none;
}

#header .hero-menu .navbar .navbar-header button{
	background: #ed6950;
}

#header .hero-menu .navbar .navbar-header button span{
	background: #ffffff;
}

#header .hero-menu .navbar .navbar-collapse ul.navbar-nav li a{
	color:#ffffff;
}

#search-in.collapse{width: 100%; padding-bottom:20px; background: #bdc8d9;}
form.search-it input[type=text]:focus, form.search-it button:focus{outline: none; background: #a9a5a5;}

#header .hero-text{
	height:100vh;
	position:relative;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	text-align:center;
}


#header .hero-text h1{
	color:#ed6950;
	font-size: 50px;
	font-weight: 600;
}

#header .hero-text h1 span,
#tour-slider .owl-carousel .item .item--info b{
	color:#ffffff;
}

#header .hero-text h1 span:after {
	content:"";
	animation: spin 3s linear infinite;
}

@keyframes spin {
	0% {content:"Geçmişin gizemlerine";}
	50% {content:"Doğanın huzuruna";}
	100% {content:"Kültürlerin kardeşliğine";}
}

#header .hero-text span:nth-child(2),
#footer span{
	display:block;
	color: #727575b5;
	font-size: 17px;
	font-weight: 700;
	margin-top:10px;
}

.ylw-btn{
	border-radius: 20px;
	background: #ffc74a;
	color: #b98000;
	padding: 10px 30px;
	font-weight: 700!important;
	font-size: 12px!important;
	letter-spacing: 1px;
	margin-top: 30px;
	transition: color 250ms ease;
}

.ylw-btn:hover,
#tour-slider .owl-carousel .item:hover img{
	-webkit-box-shadow: -1px 0px 45px -4px rgb(0, 0, 0);
	-moz-box-shadow: -1px 0px 45px -4px rgba(28,28,28,1);
	box-shadow: -1px 0px 45px -4px rgb(0, 0, 0);
	cursor: pointer;
}

#tour-slider,
#motto{
	position: relative;
	top: -200px;
}

#tour-slider .owl-carousel .item{	
	position: relative;
}

#tour-slider .owl-carousel .item img{
	-webkit-transition: 0.4s ease;
	transition: 0.4s ease;
}

#tour-slider .owl-carousel .item .item--info{
	position:absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align:center;
}

#tour-slider .owl-carousel .item .item--info b{
	font-size:25px;
	transition: font-size 250ms ease;
}

#tour-slider .owl-carousel .item .item--info span{
	color:#ffc74a;
	font-size:12px;
}

#tour-slider .owl-carousel .item .item--info button{
	display:none;
}

#tour-slider .owl-carousel .item:hover img{
	-webkit-transform: scale(1.08);
	transform: scale(1.08);
}

#tour-slider .owl-carousel .item:hover .item--info b{
	font-size:35px;
}

#tour-slider .owl-carousel .item:hover .item--info button{
	display:block;
	left: 15px;
	width: calc(100% - 30px);
}

#tour-slider span:nth-child(1){
	color: #ffffff;
	font-size: 17px;
	font-weight: 400;
	display:block;
	margin-top:25px;
	margin-bottom:20px;
	text-align:center;
}

h2.heading{
	color: #606f81;
	font-weight:600;
	font-size:22px;
}

#tour-slider h2.heading,
#motto h2.heading{
	text-align:center;
}

#preview-tour{
	position:relative;
	top:-200px;
	padding-top:30px;
}

#preview-tour h2.heading{
	text-align:center;
}

.animate-menu{
	background-color: #ffc74a;
}
	
form.search-it{
	padding-top:20px;
}
.center-it{
	display: flex;
    justify-content: center;
}

form.search-it input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    float: left;
    width: 50%;
    background: #ffffff;
	border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

form.search-it button {
    float: left;
    background: #ffffff;
    color: #ffc74a;
    font-size: 17px;
	border:none;
	border-radius:0px;
	margin:0px;
	padding: 14px;
    cursor: pointer;
	border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

form.search-it::after {
    content: "";
    clear: both;
    display: table;
}

#preview-tour .action-btns{
	display: flex;
	justify-content: space-between;
	width: 53%;
	padding-top:20px;
}

#preview-tour .action-btns ul{
	list-style:none;
	padding:0px;
}

#preview-tour .action-btns ul li{
	float:left;
}

.cntnt-btn,
.city-btn{
	border-radius: 20px;
	padding: 5px 7px;
	margin:3px;
    font-weight: 700!important;
    font-size: 12px!important;
    letter-spacing: 1px;
	transition: color 250ms ease;
	transition: background-color 250ms ease;
}

.cntnt-btn:hover, .cntnt-btn:focus, .ylw-btn:focus, .city-btn:hover, .city-btn:focus, #preview-tour .tour-list .tour-list--item .list-info .gry-btn:hover, #preview-tour .tour-list .tour-list--item .list-info .gry-btn:focus{
	background: #ffc74a;
    color: #b98000;
    outline: none!important;
}

.cntnt-btn{
    background: #bdc8d9;
    color: #ffffff;
}

.city-btn{
	border: 1px solid #e8ebf1;
    background: transparent;
    color: #8d97a5;
}

#preview-tour .tour-list{
	padding-top:30px;
}
		
#preview-tour .tour-list .tour-list--item{
	background:#f2f3f678;
	border-radius:4px;
	display: table;
	align-items: center;
	padding-bottom:30px;
	margin-bottom:30px;
}

#preview-tour .tour-list .tour-list--item img{
	max-width: 100%;
	height: auto;
}

#preview-tour .tour-list .tour-list--item:hover{
	-webkit-box-shadow: 0px 0px 35px 0px rgba(205,208,216,1);
	-moz-box-shadow: 0px 0px 35px 0px rgba(205,208,216,1);
	box-shadow: 0px 0px 35px 0px rgba(205,208,216,1);
}

#preview-tour .tour-list .tour-list--item .list-info{
	text-align:center;
}

#preview-tour .tour-list .tour-list--item .list-info h6{
	font-size: 25px;
	margin-bottom:0px;
	margin-top:20px;
	color: #606f81;
}

#preview-tour .tour-list .tour-list--item .list-info span{
	font-size: 17px;
	color: #9fa8b2;
	display:block;
}

#preview-tour .tour-list .tour-list--item .list-info .gry-btn{
	background:#ffffff;
	color: #bdc8d9;
	border-radius: 20px;
	padding: 10px 30px;
	font-weight: 700!important;
	font-size: 12px!important;
	letter-spacing: 1px;
	margin-top: 15px;
	transition: color 250ms ease;
	transition: background-color 250ms ease;
}

.centered{
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	justify-content: center;
	align-items: center;
}

#motto .heading{
margin-bottom:40px;
}

#motto .motto--text h3{
	font-size:25px;
	color:#f8c759;
	font-weight:600;
}

#motto .motto--text p{
	font-size:17px;
	color:#606f81;
	font-weight:400;
}

#motto .borderly-box{
	height: 60vh;
    max-width:400px;
    border: 10px solid #ffd012;
    position: relative;
	top:5vh;
	left:5vh;
	z-index:10;
}

#motto .borderly-img{
	position:absolute;
	z-index:20;
}

#follow{
	background:url('../img/mail-list.jpg');
	position: relative;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height:400px;
}

#follow,
#footer{
	
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#footer{height: 200px;}
#follow h3{
	color:#ffffff;
	font-size:4vw;
	font-weight:700;
}

#follow span{
	margin-top:20px;
	color:#ffffff;
	display:block;
}


@media (max-width: 991px) {
	.motto--text h3{
		text-align: center;
	}

	.motto--text{
		margin-bottom: 2em;
	}

	#motto .borderly-box {
    margin-left: auto;
    margin-right: auto;
    right: 0;
	}

	#motto .borderly-img {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
}